# Code environment
node_modules
.DS_Store

# Default output for transpiled source code
/.bin

# Default certificates folder
/.certificates

# Environment variables
.env

# Default app directory
/apps

# Configuration file
configuration.yaml
