# Code environment
node_modules
.DS_Store

# Default output for transpiled source code
/.bin

# Default output for cached files
/.cache

# Default database folder
/.database

# Manager Configuration file
configuration.yaml

# Applications Configuration file
applications.yaml
